/* .header-container {
  background-color: #50e9e9;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 4px groove lightblue;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;

  height: 15px;
  width: 40px;
} */
.header-container {
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid #50e9e9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* .header-logo {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  height: 15px;
  width: 40px;
  color: #50e9e9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: rotate(-10deg);
  transition: transform 0.3s ease-in-out;
} */
.logo-image {
  height: 40px; /* Set height to fill parent div */
  width: 40px; /* Set width to fill parent div */
  object-fit: contain; /* Scale image to fit width or height without distortion */
  object-position: center; /* Center image within its container */
  background-color: transparent;
}

/* Sidebar styles */
.sidebar-container {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  background-color: #f1faee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: left 0.3s ease;
}
.sidebar-container.open {
  left: 0;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
}
.sidebar-logo {
  font-size: 28px;
  font-weight: bold;
  color: #36709a;
}
.sidebar-close {
  font-size: 28px;
  cursor: pointer;
  color: #36709a;
}
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-list li {
  padding: 10px;
  border-bottom: 1px solid #36709a;
}
/* Content styles */

.chat-container {
  width: 80%;
  margin: 0 auto;
}
/* Burger menu styles */
.burger-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  cursor: pointer;
}
.burger-logo {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
  color: #008080;
  text-shadow: 1px 1px transparent;
}
.burger-lines {
  width: 23px;
  height: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.burger-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
/* Sidebar overlay styles */
.sidebar-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.sidebar-overlay.open {
  opacity: 1;
  pointer-events: auto;
}
@media only screen and (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    max-width: 100%;
    left: -100%;
  }
  .chat-container {
    width: 96%;
    margin: 0 0;
  }
  .sidebar-container.open {
    left: 0;
  }

  .burger-logo {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .burger-lines {
    width: 18px;
    height: 10px;
  }
  .burger-line {
    height: 1.5px;
  }
}
